@mixin menu-text {
    font-family: $PTRegular;
    color: $navText;
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        font-weight: 600;
        color: white;
    }
}
