.top-block {
    width: 100%;
    height: 267px;
    background: url('../assets/img/background.png');
    background-position: center;

    @media screen and (min-width: $tablet) {
        height: 911px;
    }
    @media screen and (min-width: $desctop) {
        height: 1080px;
    }
}
.top-block__scroll {
    display: none;
    margin-top: 853px;
    margin-left: 43.1%;
    width: 280px;
    .scroll-block__arrow-down {
        color: $navText;
    }
    @media screen and (min-width: $desctop) {
        display: block;
        color: $navText;
    }
}
