@import './../fonts/fonts.scss';
//fonts
$OSRegular: 'Conv_Open-Sans-Regular', sans-serif;
$OSLight: 'Conv_Open-Sans-Light', sans-serif;
$PTRegular: 'Conv_PTSans-Regular', sans-serif;
$PTBold: 'Conv_PTSans-Bold', sans-serif;
$NexaLightRegular: 'Conv_NexaLight-Regular', sans-serif;

//text colors
$navText: #f1f1f1;
$greyNavText: #cecece;
$black-text: #202020;
$grey-text: #bebebe;
$scrollTop: #d7d8d4;

//media points
$mobile: 600px;
$tablet: 768px;
$desctop: 1200px;
