@import './../fonts/fonts.scss';
//fonts
$OSRegular: 'Conv_Open-Sans-Regular', sans-serif;
$OSLight: 'Conv_Open-Sans-Light', sans-serif;
$PTRegular: 'Conv_PTSans-Regular', sans-serif;
$PTBold: 'Conv_PTSans-Bold', sans-serif;

//
$navText: #f1f1f1;
$greyNaavText: #cecece;
