.scroll-block__text {
    font-family: $OSRegular;
    font-size: 18px;
    text-transform: uppercase;
    color: $scrollTop;
    text-align: center;
    word-spacing: 5px;
}
.scroll-block__arrow {
    width: 32px;
    height: 32px;
    margin: 36px auto 0;
}
.scroll__arrow {
    width: 16px;
    height: 16px;
    border-top: 4px solid $scrollTop;
    border-right: 4px solid $scrollTop;
    transform: rotate(135deg);
}
.scroll-block__arrow-down {
    display: block;
    margin-top: -18px;
    font-size: 32px;
}
