.second-menu {
    display: none;
    @media screen and (min-width: $tablet) {
        display: block;
        padding-top: 39px;
        height: 61px;
        border-bottom: 1px solid #bebebe;
    }
    @media screen and (min-width: $desctop) {
        width: 93.1%;
        margin: 0 auto;
    }
}
