.navigation {
    list-style: none;
    display: none;
}
.navigation_top {
    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
        min-width: 592px;
        margin-left: 29px;
        margin-right: 32px;
    }
    @media screen and (min-width: $desctop) {
        width: 592px;
    }
}
.navigation_bottom {
    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
        min-width: 611px;
        margin-left: 72px;
        margin-right: 68px;
    }
}
.navigation__element {
    @media screen and (max-width: $mobile) {
        margin-top: 15px;
        margin-left: 71px;
    }
}

.navigation__element_white {
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: $PTRegular;
    color: $navText;
    &:hover {
        font-weight: 600;
        color: white;
    }
}
.navigation__element_black {
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: $NexaLightRegular;
    color: $greyNavText;
    &:hover {
        font-weight: 600;
        color: black;
    }
}
