header {
    //border-bottom: 1px solid white;
    @media screen and (min-width: $tablet) {
        width: 87.2%;
        padding-top: 40px;
        height: 60px;
        border-bottom: 1px solid white;
        margin-left: 9%;
    }
    @media screen and (min-width: 800px) {
        margin: 0 auto;
    }
    @media screen and (min-width: $desctop) {
        width: 93%;
        padding-top: 39px;
        height: 61px;
    }
}
.header__btn {
    margin-left: 39px;
    margin-top: 34px;
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: $PTBold;
    color: $navText;

    @media screen and (min-width: $tablet) {
        display: none;
    }
}
