header {
    //padding-top: 39px;
    //border-bottom: 1px solid white;
    @media screen and (min-width: 768px) {
        width: 654px;
        padding-top: 23px;
        height: 77px;
        border-bottom: 1px solid white;
        margin-left: 9%;
    }
}
.header__btn {
    margin-left: 28px;
    @include menu-text;

    @media screen and (min-width: 768px) {
        display: none;
    }
}
.navigation {
    list-style: none;
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        width: 621px;
    }
}
.navigation__element {
    margin-top: 15px;
    margin-left: 28px;
    @include menu-text;
}
