@font-face {
    font-family: 'Conv_Open-Sans-Regular';
    src: local('☺'), url('../assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Open-Sans-Light';
    src: local('☺'), url('../assets/fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_PTSans-Regular';
    src: local('☺'), url('../assets/fonts/PTSans/PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_PTSans-Bold';
    src: local('☺'), url('../assets/fonts/PTSans/PTSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NexaLight-Regular';
    src: local('☺'), url('../assets/fonts/NexaLight/NexaLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
