@import 'reset.scss';
@import 'vars/vars';

@import './../components/navMenu/navMenu.scss';
@import './../components/Header/Header.scss';
@import './../components/ScrollBlock/ScrollBlock.scss';

@import './../components/TopBlock/TopBlock.scss';
@import './../components/AboutMeBlock/AboutMeBlcok.scss';
@import './../components/SecondMenuBlock/SecondMenuBlock.scss';

button {
    outline: none;
    border: none;
    background: none;
}
