@import 'reset.scss';
@import 'vars/vars';
@import 'mixins/mixins';

@import './../components/Header/Header.scss';
@import './../components/SecondMenuBlock/SecondMenuBlock.scss';
@import './../components/AboutMeBlock/AboutMeBlcok.scss';

@import './../components/TopBlock/TopBlock.scss';

button {
    outline: none;
    border: none;
    background: none;
}
